[mysqld] 
basedir=/data/mysql
datadir=/data/mysql/data
socket=/tmp/mysql.sock
character_set_server=utf8
user=mysql
port = 3306
symbolic-links=0

[mysqld_safe]
log-error=/data/mysql/data/error.log
pid-file=/data/mysql/data/mysql.pid
tmpdir = /tmp

# [client]
# user=root
# password=123456